.Rproj.user
.Rhistory
.RData
.Ruserdata
.ipynb_checkpoints/**
.virtual_documents/**
02_RCode/SpecialCode/
03_Results/
01_Data/01_data_ext.RData
01_Data/01_data_pool.RData
01_Data/04_dataset_used.RData
01_Data/05_spatial.post.id.RData
01_Data/06_dataset.rf24.RData
01_Data/07_dataset.rf26.RData
01_Data/*.rds
01_Data/*.csv
gadm36_JPN_1_sp.rds
07_PyResults/*.csv
07_PyResults/
04_Figure/*/
Results/*
01_Data/**
13_Results/**

03_Results/**
01_Data/*
RetiredFile/**
13_Results/PdpConnectionCoef/**
12_PyCode/Retire/**

